<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgl.mybatis.plus.mapper.GoodsMapper">

	<update id = "updateGoodsByIdVersion" parameterType="com.zgl.mybatis.plus.entity.Goods">
		update goods set status = #{status}, version = version + 1 where id = #{id} and version = #{version}
	</update>

	<update id = "updateGoodsByNameSurplus" parameterType = "java.util.Map" >
		update goods set surplus = #{surplus} - #{count} where id = #{id} and #{surplus} - #{count} >= 0
	</update>
</mapper>
